.banner-contact{
  padding: 8% 0px;
  background-color: #511B4D;
}
.icon-ai{
	width: 80px;
}
.find-text{
	font-size: 26px;
	font-weight: 400;
	color: #fff;
	padding-left: 25px;
}
.conntact-ai{
	display: flex;
	align-items: center;
}
.container-banner-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
























