.talkt-title-main{
	font-size: 45px;
	font-weight: 700;
	color: #999999;
	text-transform: uppercase;
	padding-top: 30px;
	border-top: 2px solid #E9E3ED;
}
.malyali-span{
	color: #000;
}
.sub-text-talk-to-students{
	color: #999999;
	padding-bottom: 25px;
}
.talk-to-students{
	padding-top: 3%;
}
.student-contact-box{
	background-color: #F7F8F9;
	margin-bottom: 5%;
}
.message-btn{
	background-color: #fff !important;
}
.form-group-contact{
	padding-bottom: 3%;
}






































