@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Manrope", sans-serif !important;
}
.container-main{
  width: 80%;
  margin: auto;
}
.primarycolor{
  background-color: #511B4D !important;
  color: #fff !important;
}
.secondarycolor{
  background-color: #F2B94A !important;
}
.navbar-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.exam-portal-btn{
  padding: 10px 25px !important;
  border-radius: 25px !important;
}
.contact-us-btn{
  padding: 10px 25px !important;
  border-radius: 25px !important;
}
.logo-img{
  width: 200px;
}
.title-hero{
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  padding-top: 3%;
  color: #511B4D;
  font-weight: 800;
}
.gradient-golden-color {
  background: linear-gradient(90deg, #ddad4c, #FFC451, #cca659);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
}
.description-home{
  text-align: center;
  color: #556987;
  padding-bottom: 3%;
}
.navigation-buttons i{
  font-size: 35px;
}
.navigation-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container-dropdown{
  width: 60%;
  margin: auto;
}
.label-bold{
  font-weight: 600;
}
.search-btn{
  padding: 8px 45px !important;
  border-radius: 25px !important;
  font-weight: 600 !important;
  width: max-content;
  margin: auto;
  display: table !important;
  margin-top: 3% !important;
}
.banner-image{
  width: 100%;
  margin-top: 3%;
  height: auto;
}















